@model IEnumerable<Com.Apphb.Cammarata.EF.Model.User>


<h2>title</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.Name (@user.EmailAddress)</li>
    }
</ul>
@Html.ActionLink("new", "New")